[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
transformers = "*"
sentence-transformers = "*"
tika = "*"
beautifulsoup4 = "*"
bs4 = "*"
pandas = "*"
flask-wtf = "*"
flask-bootstrap = "*"

[requires]
python_version = "3.7"
