{% extends "index.html" %}

{% block content %}
    <div class="container">
        <br/>
        <h2>Top Positions For This Resume:</h2>
      <form action="/top-positions" method="post" class="form" role="form" enctype="multipart/form-data">
          <div class="row">
              <div class="col">
                  <div class="form-group">
                    <label style="font-size: 2em">Resume:</label>
                    <br/>
                    <input name="resumes" directory="" webkitdirectory="" type="file" multiple="true" accept=".docx, .doc, .pdf, .txt" />
                  </div>
              </div>
          </div>
          <br/>
          <input type="submit" class="btn btn-primary" style="margin-left: 300px; font-size: 1.5em" value="Start Analysis" />
      </form>
    </div>
{% endblock %}